div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h2{
    text-align: center;
    color: rgb(5, 238, 5);
    font-size: 3rem;
}
button{
    font-size: 1.5rem;
    padding: 10px 20px; 
    border-radius: 5px;
    border: none;
    background-color: rgb(5, 238, 5);
    color: white;
    cursor: pointer;
}
label{
    margin: 3px 0;
    color: rgb(5, 238, 5);
    padding: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 50%;
}
