.audio-card {
  width: 320px;
  background: #0f1511;
  color: white;
  padding: 20px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin: auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
  text-align: center;
  font-family: sans-serif;
  margin-top: 30px;
}

.album-cover {
  width: 100%;
  height: 230px;
  background: #6e6e6e;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .8;
}

.song-info {
  text-align: left;
  margin-bottom: 15px;
}
.song-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}
.song-artist {
  font-size: 14px;
  opacity: 0.7;
  margin: 0;
}

.progress-bar {
  width: 100%;
  accent-color: #2bf08d;
}

.controls {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 20px;
}

.former, .next {
  font-size: 35px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
.play-btn {
  font-size: 45px;
  color: white;
  background-color: transparent;
  border: none;
}

.vol-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.volume-control {
  font-size: 20px;
  color: white;
  display: flex;
  flex-direction: row;
}

.volume-bar {
  width: 100%;
  accent-color: #2bf08d;
}

@media (max-width: 480px) {
    .audio-container{
        width: 90%;
        padding: 15px;
    }
}
